
.carrossel__titulo {
    text-align: center;
    color: var(--cor-botao);
    font-size: 1.125rem;
    font-weight: 700;
    background: var(--cor-branco);
    text-transform: uppercase;
    padding: 0.75rem;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.25rem 0;
}

@media screen and (min-width: 1024px) {
    .swiper {
        width: 50%;
    }

    .swiper-wrapper {
        margin-top: 2.5rem;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 56%;
    }
}

