@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@300;400;700&display=swap');
@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("cards.css");
@import url("topicos.css");
@import url("contato.css");
@import url("footer.css");


:root{
    --cor-branco: #FFFFFF;
    --cor-de-fundo: #C4C4C4;
    --cor-botao: #EB9B00;
    --cor-sessao-fundo: #002F52;
    --angulo-gradiente: 97.54deg;
    --cor-gradiente-inicio: #002F52;
    --cor-gradiente-fim: #326589;
    --posicao-segundo-ponto-gradiente: 165.37%;
    --fonte-principal: "Poppins";
    --card-cor-texto: #002F52;
    --card-cor-descricao: #000000;
    --card-cor-backround: #FFFFFF;
    --separador-footer: #858585;
    --background-footer: #F9F9F9;
    --cor-texto-footer: #000000;
    --fonte-secundaria: 'Josefin Sans';
    --cor-preto: #000000;
    --cor-link-footer: #474646;
    --cor-topico-lista-footer: #858585;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal), sans-serif;
    font-weight: 400;
}

